DEPLOYMENT_URL=https://PhilippKlinger.github.io
DEPLOYMENT_BRANCH=main
BASE_URL=/my-dso-blog/
GITHUB_ORG=PhilippKlinger
GITHUB_PROJECT=my-dso-blog
GIT_REPOSITORY_URL=https://github.com/PhilippKlinger/my-dso-blog
