/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.subtitle {
  max-width: 48rem;
  margin: 0 auto;
  line-height: 1.6;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2.5rem 1rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

@media screen and (max-width: 480px) {
  .buttons > a {
    width: 100%;
  }
}
